body {
}

div#thesite h1,
div#thesite h2,
div#thesite h3,
div#thesite h4,
div#thesite h5,
div#thesite h6,
div#thesite .header {
    font-family: Comfortaa;
}

div#thesite pre,
div#thesite code,
div#thesite tt {
    font-family: 'Roboto Mono', monospace;
}

div#thesite h1 {
    text-align: center;
}

article, div#thesite {
    font-family: "Open Sans";
}

article h2 {
    color: darkviolet;
}

footer {
    text-align: center;
}
