    </div> <!-- ui attached segment  -->

    <div class="ui bottom attached violet segment">
        <div class="ui grid">
            <div class="two column row">
                <div class="left floated left aligned column">
                    <a href="/">Home</a>
                </div>
                <div class="right floated right aligned column">
                    Written by
                    <a class="ui violet image label" href="https://github.com/srid">
                        <img src="https://avatars3.githubusercontent.com/u/3998?s=460&v=4">
                        Sridhar Ratnakumar
                    </a>
                </div>
            </div>
        </div>
    </div>

</div> <! -- ui container -->
<br/>
<br/>

<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>

</body>
</html>
