<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="Explaining Haskell and related concepts as understood by Sridhar Ratnakumar">
    <meta name="author" content="Sridhar Ratnakumar">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Explaining Haskell</title>
    <!-- TODO: Add a favicon for this site -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    {{>site/templates/semui.html}}
</head>
<body>
    {{>site/templates/header.html}}
    <p>Here I explain a bunch of Haskell related concepts that I understand in
    the hopes it would be of use to others.
    --<a href="https://github.com/srid">Sridhar Ratnakumar</a></p>
    <section>
        {{>site/templates/post-list.html}}
    </section>

{{>site/templates/footer.html}}
