<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="Sridhar's public notes">
    <meta name="author" content="Sridhar Ratnakumar">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Srid's public notes</title>
    <!-- TODO: Add a favicon for this site -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    {{>site/templates/semui.html}}
</head>
<body>
    {{>site/templates/header.html}}
    <h1 class="ui header">Srid's public notes</h1>
    {{>site/templates/post-list.html}}

{{>site/templates/footer.html}}
