<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    {{>site/templates/semui.html}}
</head>
<body>
    {{>site/templates/header.html}}

    <div "ui segment">
        <h1 class="title">
            {{title}}
        </h1>

        {{#image}}
        <img class="post-image" src="/images/{{image}}">
        {{/image}}

        {{#author}}
        <span class="byline">by {{author}}</span>
        {{/author}}

        <span class="date">{{date}}</span>

        <article class="post">
            {{{content}}}
        </article>
    </div>

{{>site/templates/footer.html}}
