<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{description}}">
    <meta name="author" content="Sridhar Ratnakumar">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    {{>site/templates/semui.html}}
</head>
<body>
    {{>site/templates/header.html}}

    <h1 class="ui huge header">{{title}}</h1>

    <article class="post">
      {{{content}}}
    </article>

{{>site/templates/footer.html}}
